$atos: #0066A1;
$bundesagentur: #E2001A;

$primary:       $bundesagentur; // $primary --> theme
// $secondary:     $gray-600;
// $success:       $green;
// $info:          $cyan;
// $warning:       $yellow;
// $danger:        $red;
// $light:         $gray-100;
// $dark:          $gray-800;