::-webkit-scrollbar {
    width: 5px;
    height: 5px;
	  background-color: #F5F5F5;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
	  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	  background-color: #C1C1C1;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	  border-radius: 10px;
	  background-color: #F5F5F5;
  }

@import "~css-star-rating/css/star-rating.css";
@import './variables'; // change bootstrap colors in: '../_variables.scss'
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '~ngx-toastr/toastr.css';
