<div class="card">
  <div class="card-body">
    <div id="customerTable">
      <ngx-spinner [fullScreen]="false" type="ball-scale-ripple-multiple"
        size="medium">
        <p style="color: white"> Lade Kunden... </p>
      </ngx-spinner>
      <div id="tableControls">
        <button class="btn btn-primary addCustomer"
          (click)="openModal(content)">Kunden
          hinzufügen</button>
        <div class="searchInput">
          <label>Suchen:</label>
          <input type="text" class="form-control"
            (keyup)="searchCustomers($event.target.value)">
        </div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">E-Mail</th>
            <th scope="col">Telefon</th>
            <th scope="col">Optionen</th>
          </tr>
        </thead>
        <tbody *ngFor="let customer of displayedCustomers; let i=index">
          <tr (click)="redirectToCustomer(customer)">
            <th scope="row">
              <div>{{i+1}}</div>
            </th>
            <td>
              <div>{{customer.surname}}, {{customer.name}}</div>
            </td>
            <td>
              <div>{{customer.email}}</div>
            </td>
            <td class="tableRow">
              <div>{{customer.phone}}</div>
            </td>
            <td>
              <button type="button" class="btn btn-primary btn-sm"
                (click)="$event.preventDefault(); $event.stopPropagation(); editCustomer(customer.id)"
                ngbTooltip="Kunden bearbeiten">
                <fa-icon [icon]="faEdit"></fa-icon>
              </button>
              <button type="button" class="btn btn-primary btn-sm"
                (click)="$event.preventDefault(); $event.stopPropagation(); deleteCustomer(customer.id)"
                ngbTooltip="Kunden entfernen">
                <fa-icon [icon]="faMinus"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Kunden hinzufügen</h4>
        <button class="close" aria-label="Close"
          (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <section style="font-family: Arial">
            <div class="container-fluid" style="margin-top: 15px">
              <form id="CustomerForm" [formGroup]="CustomerForm"
                (ngSubmit)="addCustomerFromForm()">
                <div class="form-group">
                  <label for="name">Vorname</label>
                  <input type="text" class="form-control" id="name"
                    formControlName="name" placeholder="Vorname"
                    style="max-width: 400px" ngbAutofocus>
                  <small class="form-text" style="color: #DC3545"
                    *ngIf="invalidSubmit.name">Vorname wird benötigt!</small>
                </div>
                <div class="form-group">
                  <label for="surname">Nachname</label>
                  <input type="text" class="form-control" id="surname"
                    formControlName="surname" placeholder="Nachname"
                    style="max-width: 400px">
                  <small class="form-text" style="color: #DC3545"
                    *ngIf="invalidSubmit.surname">Nachname
                    wird benötigt!</small>
                </div>
                <div class="form-group">
                  <label for="email">E-Mail</label>
                  <input type="email" class="form-control" id="email"
                    formControlName="email" placeholder="E-Mail"
                    style="max-width: 400px">
                  <small class="form-text" style="color: #DC3545"
                    *ngIf="invalidSubmit.email">Gültige E-Mail
                    wird benötigt!</small>
                </div>
                <div class="form-group">
                  <label for="phone">Telefon</label>
                  <input type="tel" class="form-control" id="phone"
                    formControlName="phone" placeholder="Telefon"
                    style="max-width: 400px">
                  <small class="form-text" style="color: #DC3545"
                    *ngIf="invalidSubmit.phone">Gültige Telefonnummer
                    wird benötigt!</small>
                </div>

                <button type="button" class="btn btn-light"
                  (click)="inputIsCollapsed = !inputIsCollapsed"
                  [attr.aria-expanded]="!inputIsCollapsed"
                  aria-controls="collapseAddressInput">
                  Adresse hinzufügen
                </button>
                <div id="collapseAddressInput" [ngbCollapse]="inputIsCollapsed">
                  <div class="form-group">
                    <label for="postalcode">Postleitzahl</label>
                    <input type="text" class="form-control"
                      id="postalcode" formControlName="postalcode"
                      placeholder="Nachname" style="max-width: 400px">
                  </div>
                  <div class="form-group">
                    <label for="city">Stadt</label>
                    <input type="text" class="form-control" id="city"
                      formControlName="city" placeholder="Nachname"
                      style="max-width: 400px">
                  </div>
                  <div class="form-group">
                    <label for="street">Straße</label>
                    <input type="text" class="form-control" id="street"
                      formControlName="street" placeholder="Nachname"
                      style="max-width: 400px">
                  </div>
                </div>

              </form>
            </div>
          </section>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary"
          form="CustomerForm">Submit</button>
      </div>
    </ng-template>
  </div>
</div>