.card {
  margin: 0 auto !important;
  width: 80%;
  overflow: auto;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

// buttons above table
// table with top button/input
#customerTable {
  margin: 2% 5%;
}

// top button/input
.searchInput {
  display: flex;
  float: right;
  width: 40%;
}

.searchInput label {
  margin: auto 0;
}

.searchInput input {
  margin-left: 10px;
  margin-right: 10px;
}

// table
table {
  margin-top: 10px;
  width: 100%;
}

tbody tr:hover {
  cursor: pointer;
}

tr div {
  margin: 5px 0;
}

#customerTable .btn-sm {
  height: 30px;
  width: 30px;
  padding: 0;
  margin-right: 10px;
}

fa-icon {
  font-size: 90%;
  margin: auto auto;
}

.close {
  background: none;
  color: black;

  &:hover {
    background: none;
  }
}

@media screen and (min-width: 900px) {
  .card {
    width: 900px;
    margin: 5% auto;
    margin-top: 90px;
  }
}
