<h1 style="font-family: Arial">Datenerfassung</h1>
<div>
  <section style="font-family: Arial">
    <div class="container-fluid" style="margin-top: 15px">
      <form [formGroup]="CustomerForm" (ngSubmit)="sendCustomer()">
        <div class="form-group">
          <label for="name">Vorname</label>
          <input type="text" class="form-control" id="name"
            formControlName="name" required placeholder="Vorname"
            style="max-width: 400px">
          <!-- <small class="form-text text-muted"
            *ngIf="!CustomerForm.value.name">Der
            Vorname wird benötigt!</small> -->
        </div>
        <div class="form-group">
          <label for="surname">Nachname</label>
          <input type="text" class="form-control" required id="surname"
            formControlName="surname" placeholder="Nachname"
            style="max-width: 400px">
        </div>
        <div class="form-group">
          <label for="email">E-Mail</label>
          <input type="email" class="form-control" id="email"
            formControlName="email" placeholder="E-Mail"
            style="max-width: 400px">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </section>
  <button (click)="loginToCircuit()"
    style="margin-left: 15px; margin-top: 20px;">Circuit
    LogIn</button>
</div>

<div id="customerTable">
  <div class="searchInput">
    <label>Search:</label>
    <input type="text" class="form-control"
      (keyup)="searchCustomers($event.target.value)">
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">E-Mail</th>
        <th scope="col">Telefon</th>
        <th scope="col">Kontakt</th>
        <th scope="col">Optionen</th>
      </tr>
    </thead>
    <tbody *ngFor="let customer of displayedCustomers; let i=index">
      <tr>
        <th scope="row">
          <div>{{i+1}}</div>
        </th>
        <td>
          <div>{{customer.surname}}, {{customer.name}}</div>
        </td>
        <td>
          <div>{{customer.email}}</div>
        </td>
        <td class="tableRow">
          <div>{{customer.phone}}</div>
        </td>
        <td>
          <a href="mailto:{{customer.email}}"><button type="button"
              class="btn btn-primary btn-sm"
              ngbTooltip="Kunden eine E-Mail senden">
              <fa-icon [icon]="faEnvelope"></fa-icon>
            </button></a>
          <button type="button" class="btn btn-primary btn-sm"
            (click)="messageCustomer(customer)"
            ngbTooltip="Kunden über Circuit eine Nachricht senden">
            <fa-icon [icon]="faCommentDots"></fa-icon>
          </button>
          <button type="button" class="btn btn-primary btn-sm"
            (click)="callCustomer(customer)"
            ngbTooltip="Kunden über Circuit anrufen">
            <fa-icon [icon]="faPhone"></fa-icon>
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-primary btn-sm"
            (click)="deleteCustomer(customer.id)" ngbTooltip="Kunden entfernen">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>
          <button type="button" class="btn btn-primary btn-sm"
            (click)="deleteCustomer(customer.id)" ngbTooltip="Kunden entfernen">
            <fa-icon [icon]="faMinus"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>