<h1 style="font-family: Arial">Datenerfassung</h1>
<button (click)="loginToCircuit()">Circuit LogIn</button>
<section style="font-family: Arial">
  <div class="container-fluid" style="margin-top: 15px">
    <form [formGroup]="CustomerForm" (ngSubmit)="sendCustomer()">
      <div class="form-group">
        <label for="name">Vorname</label>
        <input type="text" class="form-control" id="name" formControlName="name"
          required placeholder="Vorname" style="max-width: 400px">
        <small class="form-text text-muted" *ngIf="!CustomerForm.value.name">Der
          Vorname wird
          benötigt!</small>
      </div>
      <div class="form-group">
        <label for="surname">Nachname</label>
        <input type="text" class="form-control" required id="surname"
          formControlName="surname" placeholder="Nachname"
          style="max-width: 400px">
        <small class="form-text text-muted"
          *ngIf="!CustomerForm.value.surname">Der
          Nachname wird
          benötigt!</small>
      </div>
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="email" class="form-control" id="email"
          formControlName="email" placeholder="E-Mail" style="max-width: 400px">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</section>

<div id="customerTable">
  <div class="searchInput">
    <label>Search:</label>
    <input type="text" class="form-control"
      (keyup)="searchCustomers($event.target.value)">
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">E-Mail</th>
        <th scope="col">Optionen</th>
      </tr>
    </thead>
    <tbody *ngFor="let customer of displayedCustomers; let i=index">
      <tr>
        <th scope="row">{{i+1}}</th>
        <td>{{customer.surname}}, {{customer.name}}</td>
        <td>{{customer.email}}</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm" id="deleteBtn"
            (click)="deleteCustomer(customer.id)"
            ngbTooltip="Kunden entfernen">-</button>
          <button type="button" class="btn btn-primary btn-sm" id="deleteBtn"
            (click)="messageCustomer(customer)"
            ngbTooltip="Kunden eine Nachricht senden">-</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>