h1 {
  background-color: #0066A1;
  padding: 10px;
  font-size: 20px;
  color: #FFFFFF;
}
button {
  padding: 7px;
  border-radius: 5px;
  border-color: #0066A1;
  background-color: #0066A1;
  color: #FFFFFF;
  font-family: Arial;
}

.btn-sm {
  height: 30px;
  width: 30px;
  padding: 0;
  margin-right: 10px;
}

.searchInput {
  display: flex;
  float: right;
  width: 40%;
  margin-bottom: 10px;
}

.searchInput label {
  margin: auto 0;
}

.searchInput input {
  margin-left: 10px;
  margin-right: 10px;
}

fa-icon {
  font-size: 90%;
  margin: auto auto;
}


@media screen and (min-width: 800px) {
  #customerTable {
    width: 800px;
    margin: 0 auto;
  }
}
