h1 {
  background-color: #0066A1;
  padding: 10px;
  font-size: 20px;
  color: #FFFFFF;
}
button {
  padding: 7px;
  border-radius: 5px;
  border-color: #0066A1;
  background-color: #0066A1;
  color: #FFFFFF;
  width: 100%;
  font-family: Arial;
}
