@import '../../../variables';

:host {
  background: #f2f2f2;
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 10px 10px 10px 10px;
  width: auto !important;
  border-radius: 3px 3px 3px 3px;
  border-color: $primary;
  color: black !important;
  pointer-events: all;
  cursor: pointer;
}

.btn-pink {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}

.content {
  margin-left: 0px;
  margin-right: 15px;
}
