<div style="font-family: Arial">
    <div style="height: 80px">
        <img src="../assets/images/Atos.png" style="text-align: right" height="80px">        
    </div>
    <h1>{{title}}</h1>
    
    <div >
      <table>
        <tr>
          <td>Eintrag in der Datenbank speichern:</td>
          <td><input [(ngModel)]="inputText"/></td>
          <td><button (click)="insertEntry()">Speichern</button></td>
        </tr>
        <tr>
          <td>Nach folgendem Eintrag suchen:</td>
          <td><input [(ngModel)]="searchEntry"/></td>
          <td><button (click)="getEntries()">Suchen</button></td>
        </tr>
      </table>
    </div>
</div>

