<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/management"><img id="atos-logo"
      src="../../../assets/images/atos-logo.png"
      style="margin-right: 10px;">Servicecenter 2020</a>
  <button class="navbar-toggler" type="button"
    (click)="toggleNavbar = !toggleNavbar" data-toggle="collapse"
    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup"
    [ngbCollapse]="toggleNavbar">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" [ngClass]="{'active': !router.url.includes('customer')}"
      routerLink="/management">Kundenverwaltung</a>
    </div>
  </div>
  <button type="button" class="btn btn-primary" *ngIf="!loggedIn"
    (click)="logon()">Login <fa-icon [icon]="faSignInAlt"></fa-icon></button>
  <button type="button" class="btn btn-primary" *ngIf="loggedIn"
    (click)="logout()">Logout <fa-icon [icon]="faSignOutAlt"></fa-icon></button>
</nav>