<div class="card" id="card">
  <div class="card-header" id="card-header">
    <img src="{{ avatarUrl }}" class="rounded-circle" />
    <div>
      {{ customer?.name }} {{ customer?.surname }}<br />
      <i>Online</i><br />
    </div>
  </div>
  <ngb-tabset #t="ngbTabset" type="pills">
    <ngb-tab id="tab1">
      <ng-template ngbTabTitle class="ngbTab">Informationen</ng-template>
      <ng-template ngbTabContent>
        <hr />
        <div class="card-body" id="details">
          <app-customer-info [customer]="customer" [avatarUrl]="avatarUrl"></app-customer-info>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="tab2">
      <ng-template ngbTabTitle class="ngbTab">Konversation</ng-template>
      <ng-template ngbTabContent>
        <hr />
        <div class="card-body" id="customer-chat">
          <app-customer-chat></app-customer-chat>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
