#card {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 800px;
  overflow: auto;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#card-header {
  display: flex;
  box-shadow: none;
  transition: none;
  border-bottom: 0;
}

.card-body {
  padding: 10px 20px;
}

.nav-pills {
  padding-left: 20px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.03);
}

#tab1,
#tab2 {
  padding: 5px 10px;
}

.card-header div {
  margin: auto 10px;
}

hr {
  margin: 0;
}

.table {
  width: 50%;
}

.btn-group {
  margin-top: 10px;
}

.td-badge {
  display: inline-block;

  span {
    margin: 0 2.5px;
  }
}

@media screen and (max-width: 1098px) {
  #card {
    width: 700px;
  }
}
